@model IEnumerable<KonfiguratorPojazdow.Data.Configuration>

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje konfiguracji</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Stwórz nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rims)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paint)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Interior)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rims)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paint.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edycja</a> | 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
